
:root {
    --shadow-color:             rgba(0,0,0,10%);
    --slide-background-color:   rgba(255, 255, 255, 30%);
    --control-background-color: rgba(240, 240, 240, 70%);
  }

  body {
    background: linear-gradient(120deg, #f0b090, #f080ff);
    height:     100vh;
    width:      100vw;
    margin:     0;
    padding:    12vw;
    width:      auto;
  }

  .carousel {
    position: relative;
  }

  .carousel .carousel-content {
    position:   relative;
    overflow:   hidden;
    height:     100%;
    width:      100%;
  }

  .carousel .slides {
    position:   relative;
    flex-wrap:  nowrap;
    display:    flex;
    transition: 300ms transform;
    justify-content: flex-start;
    align-items: baseline;
  }

  .carousel .slides article {
    display:            block;
    padding:            8px 12px;
    margin:             8px;
    flex:               0 0 auto;
    border-radius:      4px;
    box-shadow:         1px 3px 10px var(--shadow-color);
    background-color:   var(--slide-background-color);
    max-width: 300px;
  }

  .carousel menu {
    margin:   0;
    padding:  0;
  }

  .carousel .position {
    position:         relative;
    width:            100%;
    height:           6px;
    margin:           0;
    border-radius:    3px;
    box-shadow:       1px 3px 10px var(--shadow-color);
    background-color: var(--slide-background-color);
  }

  .carousel .current-position {
    position:         absolute;
    top:              -1px;
    width:            8px;
    height:           8px;
    margin-left:      -4px;
    border-radius:    4px;
    background:       var(--control-background-color);
    box-shadow:       0px 2px 4px var(--shadow-color);
    transition:       300ms left;
  }

  .carousel .position input[type='range'] {
    appearance: none;
    background: transparent;
    box-sizing: border-box;
    margin:     0;
    padding:    10px;
    height:     24px;
    width:      100%;

    height:     0px;
    opacity:    0;
  }

  /* .carousel .position input[type='range']::-moz-range-track {
    appearance: none;
    block-size: 0.2em;
    transition: 300ms all;
  }

  .carousel .position input[type='range']::-moz-range-progress {
    appearance:   none;
    width:        0.2em;
    height:       0.2em;
    user-select:  none !important;
    transition: 300ms all;
  }

  .carousel .position input[type='range']::-moz-range-thumb {
    appearance:       none;
    border:           none;
    width:            20%;
    height:           1em;
    border-radius:    0.5em;
    background-color: var(--control-background-color);
    transition: 300ms all;
  } */

  /**
  *
  */

  .carousel .carousel-control {
    appearance:     none;
    width:          3em;
    height:         3em;
    border:         none;
    background:     var(--control-background-color);
    border-radius:  50%;
    position: absolute;
    top: 50%;
  }

  .carousel .carousel-control::before {
    content:      "";
    position:     absolute;
    display:      block;
    width:        1em;
    height:       1em;
    top:          50%;
    left:         50%;
    border-style: solid;
    border-width: 0 1px 1px 0;
    transform:    translate(-50%, -50%)
                  rotate(-45deg)
                  translate(-0.22em, -0.22em);
  }

  .carousel .carousel-control.control-next {
    right:      4px }

  .carousel .carousel-control.control-previous {
    left:       4px;
    transform:  rotate(180deg) }


body {
  font-family: Helvetica Neue;
  font-weight: 300;
  line-height: 1.35;
  letter-spacing: 0.015em;
}
h2 {
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  opacity: 0.2;
}
